//Mobile
@media screen and (max-width: 576px) {
  header {
    padding: 0;
  }
  header .header-content {
    display: flex;
    margin-left: 15px;
  }

  header .right-header {
    padding: 0 !important;
    .btn-container {
      position: relative;
      left: 25%;
    }
    .joke-container {
      display: none;
    }
  }
  header .left-header {
    .left-container {
      display: none;
    }
  }

  .section {
    padding: 30px 40px !important;
  }

  .about-container {
    grid-template-columns: 1fr;
    .right-about {
      grid-template-columns: 1fr;
      padding-top: 40px;
      img {
        width: 400px;
        height: 200px;
      }
    }
    .left-about {
      padding-right: 0;
      p {
        padding-left: 0;
        font-size: 16px;
      }
    }
  }

  .ports {
    grid-template-columns: 1fr;
    padding-left: 50px;
    padding-bottom: 50px;
    .img {
      width: 300px;
      height: 200px !important;
    }
  }

  .songs {
    padding-bottom: 50px;
    padding-left: 50px;
  }

  .contact-content-container {
    flex-direction: column;
    margin-bottom: 70px;
    padding-top: 30px !important;
    .right-contact {
      margin-left: 0;
      margin-top: 40px;
      margin-bottom: 30px;
      .name-email-merge {
        flex-direction: column;
      }
      & :last-child {
        margin-left: 0px !important;
        margin-top: 30px;
        margin-bottom: -20px;
      }
    }
    .button-contact {
      margin-top: 0px !important;
      margin-bottom: 5px !important;
    }
  }

  .controlls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-4);
    .control {
      margin: 15px;
    }
  }
}

//Tablets
@media screen and (min-width: 577px) and (max-width: 767px) {
  header {
    padding: 0;
  }
  header .header-content {
    grid-template-columns: 1fr;
    margin-left: 30px;
    text-align: center;
    padding-top: 0;
  }

  header .right-header {
    padding: 0 !important;
    grid-row: 1;
    p {
      padding-right: 20px;
    }
    .btn-container {
      position: relative;
      left: 33%;
    }
  }
  header .left-header {
    margin-bottom: 80px;
    .left-container {
      margin-left: 70px;
      img {
        border-radius: 75%;
        max-width: 20%;
        height: auto;
      }
    }
  }

  .controlls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-4);
    .control {
      margin: 20px;
    }
  }

  .section {
    padding: 30px 40px !important;
  }

  .about-container {
    grid-template-columns: 1fr;
    h4 {
      text-align: center;
    }
    .right-about {
      grid-template-columns: 1fr;
      padding: 40px;
      .right-about-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        max-width: 80%;
        height: auto;
      }
    }
    .left-about {
      padding-right: 0;
      p {
        padding-left: 0;
        font-size: 16px;
      }
    }
  }

  .ports {
    grid-template-columns: 1fr;
    padding-bottom: 50px;
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .songs {
    padding-bottom: 50px;
    padding-left: 50px;
    .song {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 90%;
      .song-title {
        border-bottom: 10px solid var(--color-secondary);
      }
    }
  }

  .contact-content-container {
    flex-direction: column;
    margin-bottom: 70px;
    padding-top: 30px !important;
    h4 {
      text-align: center;
    }
    .right-contact {
      margin-left: 0;
      margin-top: 40px;
      margin-bottom: 30px;
      .name-email-merge {
        flex-direction: column;
      }
      & :last-child {
        margin-left: 0px !important;
        margin-top: 30px;
        margin-bottom: -20px;
      }
    }
    .left-contact {
      .contact-icons {
        .contact-icon {
          justify-content: space-between;
        }
      }
    }
    .button-contact {
      margin-top: 0px !important;
      margin-bottom: 5px !important;
    }
  }
}

//Laptop
@media screen and (min-width: 768px) and (max-width: 1079px) {
  .header-content {
    .left-header {
      .image {
        margin-left: 0;
        height: 100%;
        margin-bottom: 0;
      }
    }
    .right-header {
      padding-right: 120px;
      .info {
        font-size: 30px !important;
      }
      .btn-container {
        position: relative;
        left: 20%;
      }
    }
  }

  .about {
    padding: 10 25px;
  }
  .about-container {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 10px;
    .right-about {
      padding-left: 0;
      .right-about-container {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .left-about {
      padding-right: 0;
      p {
        line-height: 150%;
      }
    }
  }

  .portofolio {
    padding: 50px !important;
    .ports {
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 10px;
      margin: 0;
      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 300px;
          height: 250px;
        }
      }
    }
  }

  .songs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-content-container {
    flex-direction: column;
    margin-bottom: 5px;
    padding-top: 30px !important;
    h4 {
      text-align: center;
    }
    p {
      text-align: center;
    }
    .right-contact {
      margin-left: 0;
      margin-top: 40px;
      margin-bottom: 30px;
      .name-email-merge {
        flex-direction: column;
      }
      & :last-child {
        margin-left: 0px !important;
        margin-top: 30px;
        margin-bottom: -20px;
      }
    }
    .left-contact {
      .contact-info {
        .contact-item {
          justify-content: space-evenly;
        }
      }
      .contact-icons {
        .contact-icon {
          justify-content: space-between;
        }
        a {
          background-color: var(--color-primary);
        }
      }
    }
    .button-contact {
      margin-top: 0px !important;
      margin-bottom: 5px !important;
    }
  }
}

//Desktop
@media screen and (min-width: 1080px) {
  .header-content {
    .right-header {
      h1 {
        font-size: 35px !important;
      }
    }
  }
  .about {
    padding: 10 25px;
  }
  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 10px;
    .right-about {
      padding-left: 0;
      .right-about-container {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .left-about {
      padding-right: 0;
      p {
        line-height: 150%;
      }
    }
  }

  .portofolio {
    padding: 0 30px;
  }
  .ports {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    .port-item {
      width: 400px !important;
      height: 300px !important;
    }
  }

  .song-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    .song {
      img {
        width: 250px !important;
        height: 250px !important;
      }
    }
  }

  .contact-content-container {
    .right-contact {
      input {
        font-size: 11px !important;
      }
      .name-email-merge {
        display: flex;
        flex-direction: column;
        input {
          margin-left: 0 !important;
          margin-bottom: 10px;
        }
      }
    }
  }
}
